<div class="container course">
  <h1>{{course.title}}</h1>
  <img src="{{course.img}}" alt="{{course.title}}">
  <p class="course-price">{{course.price}}</p>
  <div class="card-body">
    <a href="/courses/{{course.id}}/edit?allow=true" class="card-link">Edit</a>
    <a href="#" class="card-link">Add to cart</a>
  </div>
</div>